<!-- <ion-header>

  <ion-navbar>
    <ion-title>splash</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>

  <svg id="bars" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.15 224.35">
    <defs>


      <style>
        .cls-1 {
          fill: #dd238c;
        }

        .cls-2 {
          fill: #ef4328;
        }

        .cls-3 {
          fill: #7dd0df;
        }

        .cls-4 {
          fill: #febf12;
        }

        .cls-5 {
          fill: #282828;
        }

      </style>
    </defs>
    <title>jmlogo</title>
    <rect class="cls-1" x="27.22" width="20.06" height="163.78" />
    <rect class="cls-2" y="4" width="20.06" height="163.78" />
    <rect class="cls-3" x="13.9" y="13.1" width="20.06" height="163.78" />
    <rect class="cls-4" x="43.1" y="7.45" width="20.06" height="163.78" />
    <path class="cls-5" d="M243.5,323a12,12,0,0,1-.5,3.43,8.88,8.88,0,0,1-1.63,3.1,8.24,8.24,0,0,1-3,2.26,10.8,10.8,0,0,1-4.58.86,9.63,9.63,0,0,1-6-1.82,8.48,8.48,0,0,1-3.07-5.47l4-.82a5.64,5.64,0,0,0,1.66,3.19,4.86,4.86,0,0,0,3.43,1.18,5.71,5.71,0,0,0,2.83-.62,4.53,4.53,0,0,0,1.7-1.63,7,7,0,0,0,.84-2.33,15.15,15.15,0,0,0,.24-2.71V297.82h4V323Z"
      transform="translate(-224.04 -108.31)" />
    <path class="cls-5" d="M252,297.82h6l11.52,26.64h0.1l11.62-26.64H287v34h-4V303.29h-0.1L270.72,331.8h-2.45l-12.19-28.51H256V331.8h-4v-34Z"
      transform="translate(-224.04 -108.31)" />
  </svg>

</ion-content>
